 * {margin: 0;
padding: 0;
}
#menu{position:relative; 
top:-20px;
margin:0; 
border-radius:0;
border:1px solid #121840;
}
#slog{position:relative;
top:-20px;
padding-bottom:15px; 
margin:0;
background-image:url('https://pp.userapi.com/c639827/v639827905/3b9a1/7AQSovyZE1Q.jpg');
}
#brand {color:white; 
font-size:33px; 
letter-spacing: 4px;
position:relative; 
top:-3px;
left:14%;
}
#pos{position:relative;
top:-20px;
}
.i{font-size:15px;
}
.list{position:relative;
top:-60px;
left: 8%;
height:40px;
width:155px;
font-size:17px;
}
.blue{background-color:#286090;
}
.lr{font-size:20px;
}
.sh{box-shadow: 0.25em 0.25em 5px rgba(122,122,122,0.5);
}
.sh:hover{box-shadow: 0.5em 0.5em 7px rgba(122,122,122,0.5);
}
#menu-d{position:relative;
top:20px;
margin:0; 
border-radius:0;
}
.bl{color:#1A1D6E;
}


div.cat-head{font-size:33px;
text-align:center;
letter-spacing: 4px;
background-color:#1C345F;
color:white;
box-shadow: 0 0.08em 3px #6A7383;
margin:0;
height: 50px;
position:relative; 
top:-20px;
margin-bottom:10px;
}
div.cat-head:hover{box-shadow: 0 0.11em 3px #6A7383;
}
i.cat-head{font-size:25px;
margin-right:7px;
}
div.cat{text-align:center;
font-size:25px;
margin-top:20px;
}
a.cat{color:#2C59A8;
}
a.cat:hover{color:#161E51;
text-shadow: 0.05em 0.05em 3px rgba(122,122,122,0.5);
}
.ic{font-size:20px;
margin-right:4px;
}
a.btn-cat{font-size:22px;
box-shadow: 0.22em 0.22em 5px rgba(122,122,122,0.5);
width:350px;
}
a.btn-cat:hover{box-shadow: 0.12em 0.12em 5px rgba(122,122,122,0.5);
}
a.btn-cat:active{box-shadow: 0.05em 0.05em 5px rgba(122,122,122,0.5);
}

div.faq-head{font-size:25px;
letter-spacing: 1px;
text-align:center;
}
div.faq-body{font-size:16px;
font-weight:100;
color: #6E6E6E;
padding-top:20px;
letter-spacing: 0.1px;
line-height: 1.5;
}
div.faq{box-shadow: 0.2em 0.2em 5px rgba(122,122,122,0.5);
}
div.quote{font-size:25px;
font-style:italic;
text-align:center;
}

img.vid{margin-bottom:20px;
}
p.describe{color:grey;
font-size:16px;
margin-top:10px;
}
a.vidname{font-size:21px;
color:#1C345F;
}
a.vidname:hover{color:#0E7EAE;
}
a.channel{color:grey;
font-size:17px;
}
a.channel:hover{color:#0E7EAE;
}
p.views{color:grey;
font-size:16px;
}
i.v{position:relative;
top:3px;
}
span.time{position:relative;
top:-45px;
left:6px;
background-color:#1C345F;
color:white;
}
div.container-f{width:80%;
margin-left:10%;
margin-right:10%;
}

.videohead{font-size:25px;
letter-spacing: 1px;
text-align:center;
color:#1C345F;
position:relative;
top:10px;
margin-left:25%;
}
a.vidname_sm{font-size:17px;
color:#1C345F;
}
a.vidname_sm:hover{color:#0E7EAE;
}
a.channel_sm{color:grey;
font-size:16px;
}
a.channel_sm:hover{color:#0E7EAE;
}
span.views_sm{color:grey;
font-size:15px;
}
span.views_b{color:grey;
font-size:20px;
position:relative;
top:10px;
left:40px;
}
span.mark{position:relative;
top:25px;
left:6px;
background-color:#1C345F;
color:white;
font-size:30px;
}

#reviewStars-input input:checked ~ label, #reviewStars-input label, #reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
  background: url('http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png') no-repeat;
}
#reviewStars-input {
  overflow: hidden;
  *zoom: 1;
  position: relative;
  float: left;
}
#reviewStars-input input {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;  
  width: 43px;
  height: 40px;  
  position: absolute;
  top: 0;
  z-index: 0;
}
#reviewStars-input input:checked ~ label {
  background-position: 0 -40px;
  height: 40px;
  width: 43px;
}
#reviewStars-input label {
  background-position: 0 0;
  height: 40px;
  width: 43px;
  float: right;
  cursor: pointer;
  margin-right: 10px;  
  position: relative;
  z-index: 1;
}
#reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
  background-position: 0 -40px;
  height: 40px;
  width: 43px;
}
#reviewStars-input #star-0 {
  left: 0px;
}
#reviewStars-input #star-1 {
  left: 53px;
}
#reviewStars-input #star-2 {
  left: 106px;
}
#reviewStars-input #star-3 {
  left: 159px;
}
#reviewStars-input #star-4 {
  left: 212px;
}
#reviewStars-input #star-5 {
  left: 265px;
}

h3.search_n{
color:#1C345F; 
margin-top:20px;
margin-left:2%;	
}

div.channel-head {
  padding-top:30px;
  margin-left: 10px; 
  margin-right: 10px; 
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  position:relative;
  top:-10px;
}
button.subscribe {
  position:relative;
  top:12px;
  left: 15%;
}